@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&display=swap');

body {
  background-color: #e5e5e5;
  background-image: url(./hello/images/header-shapes.png);
  width: 375px;
  padding: 0%;
}

.hex {
  color: #6070ff;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

.main-wrapper {
  background: #e5e5e5;
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 80px;
}

.toolbar {
  display: flex;
  height: 48px;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
  width: 375px;
  background: white;
}

.logo-place {
  margin-left: 12px;
}

.my-logo {
  padding: 10px 12px 10px 12px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
}

.headline {
  background-image: url("/images/header-shapes.png");
  background-size: contain;
  background-repeat: no-repeat;
  flex-direction: column;
  background-color: #fff;
  border-radius: 0 0 0 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headline > * {
  padding-left: 20px;
  padding-right: 20px;
}

.headline h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 0.25px;
  display: flex;
  align-items: center;
  color: #172b4d;
  padding-top: 80px;
}

.text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  text-align: justify;
  text-justify: inter-word;
  width: 327px;
  height: 150px;
  padding-right: 20px;
}

.connect {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.social-media {
  display: flex;
  width: 190.17px;
  height: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 136px;
  list-style-type: none;
  padding-left: 22px;
}

.works {
  display: grid;
  grid-template-columns: 100%;
}

.grid-items {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 16px;
  gap: 12px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin-left: 24px;
  margin-right: 24px;
}

.project-1 {
  margin-top: 114px;
}

.other-projects {
  margin-top: 88px;
}

.project-img {
  border-radius: 8px;
  width: auto;
}

.details ul {
  margin: initial;
  padding: initial;
}

.details ul li {
  margin: initial;
  padding: initial;
}

.titles {
  flex-direction: column;
  gap: 12px;
  flex-wrap: wrap;
}

.titles p {
  color: #344563;
}

.project-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.canopy {
  display: flex;
  width: 236px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-left: initial;
  list-style-type: none;
}

.canopy .o-li {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.bullets {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  color: #7a869a;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: #c1c7d0;
  border-radius: 50%;
  display: inline-block;
}

.canopy :first-child {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.grid-items p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.grid-items .categories {
  /* flex-direction: row; */
  align-items: center;
  padding: inherit;
  width: 203px;
  height: 24px;
  gap: 8px;
  list-style-type: none;
  padding-left: initial;
}

.grid-items .categories li {
  float: left;
  margin-left: 3px;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.see-project {
  width: 295px;
  height: 72px;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.see-project button {
  padding: 2px;
  width: 124px;
  height: 48px;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  background-color: #fff;
  border: 1px solid #6070ff;
}

.about-myself {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-top-right-radius: 100px;
}

.main {
  background-color: white;
  margin-top: 114px;
  border-top-right-radius: 100px;
}

.about-myself > * {
  margin-left: 24px;
  margin-right: 24px;
  padding-bottom: 10px;
}

.about {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin-top: 114px;
  margin-bottom: initial;
}

.about-myself .text {
  margin-top: initial;
  margin-bottom: initial;
}

.about-myself .connect {
  margin-top: initial;
  margin-bottom: initial;
}

.about-myself .social-media {
  padding-bottom: 12px;
  margin-top: initial;
  margin-bottom: initial;
}

.about-myself .see-project {
  margin-top: initial;
  margin-bottom: initial;
}

.btn-submitContact button {
  border: 1px;
  font-family: "Poppins", sans-serif;
  display: flex;
  text-align: center;
  align-items: cen;
  border-radius: 0%;
  font-size: 17px;
  font-weight: 500px;
  font-style: normal;
  line-height: 24px;
  color: #6070ff;
  background-color: white;
}

.about-myself .see-project button {
  width: 162px;
  height: 48px;
}

.allow-down {
  width: 36px;
  height: 18px;
  padding-right: 10px;
}

.nav-bar-ul {
  display: none;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  padding: 0;
  gap: 8px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.contact-background p {
  color: #ebebff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  width: 327px;
  height: 137px;
  padding-left: 20px;
  padding-top: 60px;
}

.languages-list {
  margin: initial;
  margin-right: 36px;
}

.languages-list ul {
  display: flex;
  flex-direction: column;
  width: auto;
  margin-bottom: 113.85px;
}

.lang-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  display: flex;
  list-style-type: none;
  width: auto;
  padding: 9px;
  align-items: center;
  justify-content: space-between;
}

.icons {
  width: 3px;
}

.languages-list .lang {
  display: flex;
  list-style-type: none;
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  align-items: center;
  margin-top: 10px;
  padding-top: 10px;
}

.languages-list .lang p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
  padding-left: 16px;
  margin: 3px;
}

.frameworks {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  display: flex;
  list-style-type: none;
  width: auto;
  padding: 9px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #dfe1e6;
}

.langusge {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  margin: 3px;
  margin-left: 10px;
}

.sign {
  padding-right: 20px;
}

.hex:hover {
  background-color: rgb(153, 153, 236);
  transition-duration: 0.5s;
}

.hex:active {
  background-color: blue;
}

.background-color {
  background-color: #6070ff;
  width: 100%;
}

.contact-me {
  background-color: white;
  height: 56px;
}

.contact-background {
  border-top-left-radius: 70px;
  background: url(./images/Contact-form.png), #6070ff;
  background-size: contain;
  background-position: 100% 0%;
  background-repeat: no-repeat;
  padding-bottom: 20px;
}

.contact-background h2 {
  display: flex;
  justify-content: center;
  font-size: 40px;
  line-height: 52px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  padding-top: 100px;
  color: white;
  padding-right: 30px;
}

.contact-background form {
  display: flex;
  flex-direction: column;
  margin: 24px;
}

.contact-background input {
  border-radius: 8px;
  padding: 16px;
  border: none;
  color: #172b4d;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 20px;
}

.contact-background textarea {
  height: 170px;
  border-radius: 8px;
  background-color: white;
  border: none;
  padding: 16px;
  color: #b3bac5;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 20px;
}

.footer-img {
  display: flex;
  align-items: center;
}

.btn-submitContact {
  padding: 15px;
  width: 130px;
  height: 28px;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
  background-color: #fff;
}

#submit:hover {
  background-color: #6070ff;
  color: #4053fc;
}

#submit:active {
  background-color: #2230d2;
}

.get-in {
  margin-top: 10px;
  height: 48px;
  width: 160px;
  border-radius: 8px;
  padding: 12px 16px 12px 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  background-color: #fff;
  text-align: center;
  color: #6070ff;
}

@media (min-width: 768px) {
  body {
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-self: center;
  }

  .icons {
    display: flex;
    display: none;
  }

  .headline {
    display: none;
  }
  
  .toolbar{
    display: none;
  }
  .toolbar-v{
     background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    justify-self: center;
  }

  .desktop-v {
    background-image: contain;
    background-repeat: no-repeat;
    background-color: #fff;
    border-radius: 0 0 0 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .jonathan {
    background-image: url("/images/header-desk-back.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-color: #fff;



  }

  .nav-bar-ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding: 0;
    gap: 8px;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .main-wrapper {
    display: block;
    justify-content: center;
    align-items: center;
    width: auto;
  }

  .project-img {
    width: 544px;
    height: 448px;
  }

  .grid-items {
    display: flex;
    flex-direction: column;
  }

  .other-projects {
    flex-direction: row;
  }

  .main {
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .contact-me {
    align-items: center;
    justify-content: center;
  }

  .contact-background p {
    margin: auto;
    padding-top: 20px;
  
  }

  .contact-background h2 {
    margin: auto;
    padding-top: 20px;
  
  }

  #get-in {
    display: flex;
    align-items: center;
  }

  .contact-background form {
    padding-top: 20px;
    margin: auto;
    width: 25%;
  }

  .footer-img {
    display: none;
  }

  .languages-list {
    margin-top: 154px;
   padding-right: 140px;
  }
  
  .desktop-v .logo-place {
    margin-left: 155px;
    transform: rotate(60deg);
  }

  button:hover {
    background-color: yellow;
    color: red;
    transform: scale(.7);

  }
}
